.center-div-pag-criacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.center-div-pag-criacao h1{
    font-family: 'Inika';
    font-size: 4vw;
    color: aliceblue;
    margin-bottom: 30px;
    margin-top: 0px;
    user-select: none;
}

.center-div-pag-criacao.fade-out-animation {
    opacity: 0;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#mensagemLimite p{
    user-select: none;
    font-family: 'Inika';
    color: aliceblue;
    margin: 0px;
}

#mensagemLimite{
    transition: opacity 0.5s;
    opacity: 0;
}

.voltar{
    margin-right: 20px;
}
